* {
    padding: 0;
    margin: 0;
}

button span.frase::after {
    content: 'Pasa por encima';
}

button span.frase:hover {
    color: white;
    background-color: green;
}

button span.frase::after {
    content: '¡Hecho!';
}

